# Auto-added during alignment sweep
_pycache__/server.cpython-311.pyc
dist/fsa_food_safety_mcp-1.0.0-py3-none-any.whl
dist/fsa_food_safety_mcp-1.0.0.tar.gz
__pycache__/.!20586!server.cpython-311.pyc
dist/fsa_food_safety_mcp-1.0.9-py3-none-any.whl
dist/fsa_food_safety_mcp-1.0.9.tar.gz
